<h1 class='question-title'><%= @question.title %></h1>

<div class='question-content'>
  <p class='question-body'><%= @question.body %></p>
</div>

<article id = "<%= @question.id %>">

  <% @voted_question = Vote.find_by(voteable_type: "Question", voteable_id: @question.id, user_id: session[:id]) %>
  <% if @voted_question %>
     <button type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-triangle-top"></span> </button>
  <% else %>
    <form action = "/questions/<%= @question.id %>/vote" method = "POST" class= "inline">
      <button type="submit" class="btn btn-success btn-xs vote-button"><span class="glyphicon glyphicon-triangle-top"></span> </button>
   </form>
  <% end %>
   <span class="count"> <%= @question.votes.count %> votes || </span>

   <span> author: <%= @question.user.username %> ||</span>

   <span> <%= @question.comments.count %> comments </span>
   <% if @question.user.id == session[:id] %>
     <form action = "/questions/<%=@question.id %>" method = "POST" class= "inline delete">
        <input type="hidden" name="_method" value="DELETE" />
        <button type="submit" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Delete this question</button>
    </form>
   <% end %>

</article>
<h4><%= @question.comments.count %> Comments</h4>
<ul class='q_comments'>
  <% @question.comments.each do |comment| %>
  <li><%= comment.body %><br><%= comment.user.username%></li>
  <% end %>
</ul>
<div>
  <% if session[:id] %>
  <a href='/questions/<%= @question.id %>/comments/new' class='question_comment'>add a comment</a>
  <% end %>
</div>


<h2><%= @question.answers.count %> Answers</h2>
<% @answers.each_with_index do |answer, index| %>
 <% if index == 0 %>
   <article id="answer<%= answer.id %>" class='answer'>
     <span><%= answer.body %></span> </br>
     <% @voted_answer = Vote.find_by(voteable_type: "Answer", voteable_id: answer.id, user_id: session[:id]) %>
     <% if @voted_answer %>
       <button type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-triangle-top"></span> </button>
   <% else %>
      <form action = "/questions/<%= @question.id %>/answer/<%= answer.id %>/vote" method = "POST" class= "inline">
        <button type="submit" class="btn btn-success btn-xs vote-answer-button"><span class="glyphicon glyphicon-triangle-top"></span> </button>
     </form>
   <% end %>
   <span class="count-answer"> <%= answer.votes.count %> votes || </span>
   <span class='answer-user'><%= answer.user.username %>   -   <%= answer.updated_at%></span>
   <button type="button" class="btn btn-warning inline"><span class="glyphicon glyphicon-fire"></span> Popular Answer</button> </br>

    <h4><%= answer.comments.count %> Comments</h4>
   <ul>
     <% answer.comments.each do |comment| %>
       <li><%= comment.body %><br><%= comment.user.username%></li>
     <% end %>
   </ul>
 </article>
 <div>
   <% if session[:id] %>
     <a href='/answers/<%= answer.id %>/comments/new' class='answer_comment'>add a comment</a>
   <% end %>
 </div>
 <% else %>
  <article id="answer<%= answer.id %>" class='answer'>
    <span><%= answer.body %></span> </br>
    <% @voted_answer = Vote.find_by(voteable_type: "Answer", voteable_id: answer.id, user_id: session[:id]) %>
    <% if @voted_answer %>
      <button type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-triangle-top"></span> </button>
    <% else %>
      <form action = "/questions/<%= @question.id %>/answer/<%= answer.id %>/vote" method = "POST" class= "inline">
        <button type="submit" class="btn btn-success btn-xs vote-answer-button"><span class="glyphicon glyphicon-triangle-top"></span> </button>
      </form>
    <% end %>
    <span class="count-answer"> <%= answer.votes.count %> votes || </span>
    <span class='answer-user'><%= answer.user.username %>   -   <%= answer.updated_at%></span>

    <h4><%= answer.comments.count %> Comments</h4>
    <ul>
      <% answer.comments.each do |comment| %>
        <li><%= comment.body %><br><%= comment.user.username%></li>
      <% end %>
    </ul>
  </article>
  <div>
    <% if session[:id] %>
      <a href='/answers/<%= answer.id %>/comments/new' class='answer_comment'>add a comment</a>
    <% end %>
  </div>
  <% end %>
<% end %>

<div>
  <% if session[:id] && session[:id] != @question.user_id %>
    <h3><a href='/questions/<%= @question.id.to_s %>/answers/new' class='answer_question'>Post Your Answer</a></h3>
  <% end %>
</div>
