<h1 class='question-title'><%= @question.title %></h1>

<div class='question-content'>
  <p class='question-body'><%= @question.body %></p>
</div>

<article id = "<%= @question.id %>">
  <form action = "/questions/<%= @question.id %>/vote" method = "POST" class= "inline">
    <button type="submit" class="btn btn-success btn-xs vote-button"><span class="glyphicon glyphicon-triangle-top"></span> </button>
 </form>
   <span class="count"> <%= @question.votes.count %> votes || </span>
   <span> author: <%= @question.user.username %> ||</span>
   <span> <%= @question.comments.count %> comments || </span>
   <form action = "/questions/<%=@question.id %>" method = "POST" class= "inline delete">
       <input type="hidden" name="_method" value="DELETE" />
       <button type="submit" class="btn btn-danger btn-xs "><span class="glyphicon glyphicon-remove"></span> Delete this question</button>
   </form>
</article>
<h3><%= @question.comments.count %> Comments</h3>
<ul>
  <% @question.comments.each do |comment| %>
    <li><%= comment.body %><br><%= comment.user.username%></li>
  <% end %>
</ul>
<% if session[:id] %>
  <a href='/questions/<%= @question.id %>/comments/new'>add a comment</a>
<% end %>

<h2><%= @question.answers.count %> Answers</h2>
<% @question.answers.each do |answer| %>
  <div class='answer'
    <p><%= answer.body %></p>
    <p class='answer-user'><%= answer.user.username %>   -   <%= answer.updated_at%></p>

    <h3><%= answer.comments.count %> Comments</h3>
    <ul>
      <% answer.comments.each do |comment| %>
        <li><%= comment.body %><br><%= comment.user.username%></li>
      <% end %>
    </ul>
  </div>
  <% if session[:id] %>
    <a href='/answers/<%= answer.id %>/comments/new'>add a comment</a>
  <% end %>
<% end %>
<% if session[:id] %>
  <h3><a href='/questions/<%= @question.id.to_s %>/answers/new'>Post Your Answer</a></h3>
<% end %>
