<div class="sub-container">
  <h1><%= question.title %></h1>
  <% if session[:id] == question.questioner_id %>
    <form class="questioner-buttons" action="<%=question.id%>/edit">
      <input type="submit" value="Edit Question"/>
    </form>
    <form class="questioner-buttons" action="/questions/<%=question.id%>" method="POST" id="questionform">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete question">
    </form>
  <% end %>
  <p><%= question.body %></p>

  <h2>Answers</h2>

  <div class="flex-column">
    <form class="answer-form flex-column" method="post" action="/questions/<%= question.id %>/answers">
      <label for="body-textarea">Your Answer:</label>
      <textarea class="body-textarea" name="answer[body]"></textarea>
      <input type="submit" value="Respond">
    </form>
  </div>

  <ul id="question-comment-ul">
    <% question.comments.each do |comment| %>
      <li><%= comment.body %></li>
    <% end %>
  </ul>
  <a href="/questions/<%= question.id %>/answers/new">Answer this question</a>
  <a href="/questions/<%= question.id %>/comments/new">Comment on this question</a>
  </br></br>
  <ul>
    <% question.answers.each do |answer| %>
      <li><%= erb :'answers/_show', locals: {question: question, answer: answer} %></li></br>
        <ul>
          <% answer.comments.each do |comment| %>
            <li><%= comment.body %> - <%= (User.find(session[:id])).username %></li>
          <% end %>
        </ul>
      <a href="/questions/<%= question.id %>/answers/<%= answer.id %>/comments/new">Comment on this answer</a>

    <% end %>
  </ul>
</div>

