<div class="a-container">
  <%= erb :'/components/_v-container', locals: { comment: nil, answer: answer, question: nil } %>
  <p class="a_body"><%= answer.body %></p>
  <span class="a_user"><%= answer.answerer.username %></span>
  <span class="a_timestamp"><%= long_form_date(answer.created_at) %></span>
  <% if logged_in? && session[:id] == answer.answerer.id %>
    <ul class="no-bullets no-padding mar-t-2">
      <li class="pipe-separate left">
        <a href="/questions/<%= answer.question.id %>/answers/<%= answer.id %>/edit" class="edit-answer">edit</a>
      </li>
      <li class="pipe-separate left">
        <form class="delete-answer" method="post" action="/questions/<%= answer.question.id %>/answers/<%= answer.id %>" class="inline">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="delete" class="no-border no-outline no-bg c-white hover-underline">
        </form>
      </li>
    </ul>
  <% end %>
  <%= erb :'/components/_cs-container', locals: { comments: answer.comments, question: nil, answer: answer } %>
</div>
