<div class="a-container width-100">
  <div class="a_votes_body flex-row width-100">
    <%= erb :'/components/_v-container', locals: { comment: nil, answer: answer, question: nil } %>
    <% if answer.bad_answer? %>
      <p class="a_body bad-answer"><%= answer.body %></p>
    <% else %>
      <p class="a_body"><%= answer.body %></p>
    <% end %>
    </div>
  <div class="a_answerer flex-row width-100">
    <span class="a_user"><%= answer.answerer.username %></span>
    <span class="a_timestamp"><%= long_form_date(answer.created_at) %></span>
  </div>
  <% if session[:id] == answer.question.questioner.id %>
    <form class="best-answer-form" action="/questions/<%= answer.question.id %>/answers/<%= answer.id %>/bestanswer" method="POST">
      <input type="hidden" name="_method" value="PUT">
      <input type="submit" value="Best answer">
    </form>
  <% end %>
  <% if logged_in? && session[:id] == answer.answerer.id %>
    <ul>
      <li class="edit-answer">
        <a class="edit-answer" href="/questions/<%= answer.question.id %>/answers/<%= answer.id %>/edit">edit</a>
      </li>
      <li class="delete-answer">
        <form class="delete-answer" method="post" action="/questions/<%= answer.question.id %>/answers/<%= answer.id %>">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="delete">
        </form>
      </li>
    </ul>
  <% end %>
  <% if answer.best_answer? %>
    <img class='answer-image' src='http://clipartix.com/wp-content/uploads/2016/04/Thumbs-up-clipart-2.png' width=30 height=30>
  <% end %>

  <%= erb :'/components/_cs-container', locals: { comments: answer.comments, question: nil, answer: answer } %>
</div>
