<h1><%= @user.username.capitalize %>'s Profile</h1>

<div>
	<table>
		<% if @questions.empty? %>
		<tr>
			<th>
				<h2><a href='/questions/new'>Got a Question?</a></h2>
			</th>
		</tr>
		<% else %>
		<tr>
			<th>Category</th>
			<th>Question</th>
			<th>Date</th>
		</tr>

			<% @questions.each do |question| %>
			<tr>
				<td><a href='/category/<%= question.category.id %>'><%= question.category.name %></a></td>
				<td><a href='/questions/<%= question.id %>'><%= question.title %></a></td>
				<td><%= question.created_at %></td>
			</tr>
			<% end %>
		<% end %>
	</table>
	<table>
		<% if !@answers.empty? %>
		<tr>
			<th>Questions Answered</th>
			<th>Date</th>
		</tr>
			<% @answers.each do |answer| %>
			<tr>
				<td><a href='/questions/<%= answer.question.id %>'><%= answer.question.title %></a></td>
				<td><%= answer.created_at %></td>
			</tr>
			<% end %>
		<% end %>
	</table>
	<table>
		<% if !@comments.empty?  %>
		<tr>
			<th>Commented On:</th>
			<th>Date</th>
		</tr>
			<% @comments.each do |comment| %>
			<tr>
				<% if comment.commentable_type == "Question" %>
				<td><a href='/questions/<%= comment.commentable.id %>'><%= comment.commentable.title %></a></td>
				<td><%= comment.created_at %></td>
				<% else %>
				<td><a href='/questions/<%= comment.commentable.question_id %>'><%= comment.commentable.question.title %></a></td>
				<td><%= comment.created_at %></td>
				<% end %>
			</tr>
			<% end %>
		<% end %>
	</table>
</div>
<div><a href="/users/<%= @user.id %>/edit">Update Profile</a></div>
