<h1><%= @user.username.capitalize %>'s Profile</h1>
<% @questions = @user.questions%>

<div>
	<table>
		<% if @questions.empty? %>
		<tr>
			<th>
				<h2>Got a Question?</h2>
			</th>
		</tr>
		<% else %>
		<tr>
			<th>"Category"</th>
			<th>"Question"</th>
			<th>"Date"</th>
		</tr>

			<% @questions.each do |question| %>
			<tr>
				<td><%= question.category.name %></td>
				<td><a href='/questions/<%= question.id %>'><%= question.title %></a></td>
				<td><%= question.created_at %></td>
			</tr>
			<% end %>
		<% end %>
	</table>
</div>
