<h1><%= @user.username.capitalize %>'s Profile</h1>

<div>
	<table>
		<% if @questions.empty? %>
		<tr>
			<th>
				<h2><a href='/questions/new'>Got a Question?</a></h2>
			</th>
		</tr>
		<% else %>
		<tr>
			<th>Category</th>
			<th>Question</th>
			<th>Date</th>
		</tr>

			<% @questions.each do |question| %>
			<tr>
				<td><%= question.category.name %></td>
				<td><a href='/questions/<%= question.id %>'><%= question.title %></a></td>
				<td><%= question.created_at %></td>
			</tr>
			<% end %>
		<% end %>
	</table>
	<table>
		<% if !@answers.empty? %>
		<tr>
			<th>Questions Answered</th>
			<th>Date</th>
		</tr>
			<% @answers.each do |answer| %>
			<tr>
				<td><a href='/questions/<%= answer.question.id %>'><%= answer.question.title %></a></td>
				<td><%= answer.created_at %></td>
			</tr>
			<% end %>
		<% end %>
	</table>
	<table>
		<% if !@question_comments.empty? || !@answer_comments.empty? %>
		<tr>
			<th>Comments</th>
			<th>Date</th>
		</tr>
			<% @question_comments.each do |comment| %>
			<tr>
				<td><a href='/questions/<%= comment.commentable.id %>'><%= comment.commentable.title %></a></td>
				<td><%= comment.created_at %></td>
			</tr>
			<% end %>
			<% @answer_comments.each do |comment| %>
			<tr>
				<td><a href='/questions/<%= comment.commentable.question_id %>'><%= comment.commentable.question.title %></a></td>
				<td><%= comment.created_at %></td>
			</tr>
			<% end %>
		<% end %>
	</table>
</div>
