<ul id="answer-comment-ul">
  <% answer.comments.each do |comment| %>
    <% if logged_in? %>
      <div>
        <form class="ac-upvote" method="post" action='/questions/<%= answer.question_id %>/answers/<%= answer.id %>/comments/<%= comment.id %>/vote'>
          <button type="submit" name="submit_param" value="submit_value"></button>
         </form>
          <div class="votes"><%= comment.points %></div>
        <form class="ac-downvote" method="post" action='/questions/<%= answer.question_id %>/answers/<%= answer.id %>/comments/<%= comment.id %>/downvote'>
          <button type="submit" name="submit_param" value="submit_value"></button>
        </form>
      </div>
    <% end %>
    <li><%= comment.body %> - <% if logged_in? then %> <%= "#{(User.find(session[:id])).username}" %><% end %></li>
  <% end %>
</ul>

<div>
<a id="answer-comment-link" href="/questions/<%= question.id %>/answers/<%= answer.id %>/comments/new">Comment on this answer</a>
<form class="answer-comment-form" action="/questions/<%= question.id %>/answers/<%= answer.id %>/comments" method="POST">
  <textarea rows="3" cols="40" name="body" placeholder="Enter comment..."></textarea>
  <input type="submit">
</form>
</div>
